*{
  margin: 0;
  padding: 8;
  box-sizing: border-box;
}
main{
  min-height: 100vh;
}

body{
  font-family: 'montseratt', sans-serif;
}

.App{
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position:bottom;
  transition: 0.4 ease-out;
}

